<section class="home-background-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="background-captions">
                    <h2 class="text-white">
                        Take advantage of our Seasonal Specials.
                    </h2>
                    <app-button class="d-block mt-5" buttonName="For Reservations" buttonSize="L" buttonShade="W"></app-button>
                </div>
            </div>
        </div>
    </div>
</section>