<header>
  <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand text-white" routerLink="">DAILY NEWS</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto">
                  <li class="nav-item active">
                      <a class="nav-link" routerLink="" routerLinkActive="active-link">Top Headlines</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="tech" routerLinkActive="active-link">Tech News</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="business" routerLinkActive="active-link">Business News</a>
                  </li>
              </ul>
          </div>
      </nav>
  </div>
</header>