<section class="rooms-section">
    <div class="container">
        <div class="mb-5 d-flex align-items-center justify-content-between">
            <app-heading headingText1="Explore our" headingText2="Rooms"></app-heading>
            <app-button buttonName="View all rooms" buttonSize="M" buttonShade="W"></app-button>
        </div>
        <div class="row">
            <div class="col-md-4 mb-5 mb-sm-0">
                <div class="card">
                    <img class="img-fluid card-img" src="../../../../assets/img/room.jpg">
                    <div class="card-body">
                        <h3>Silver Room 2</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <p>$50.0 / Night</p>
                            <app-button buttonName="View Details" buttonSize="S" buttonShade="D"></app-button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5 mb-sm-0">
                <div class="card">
                    <img class="img-fluid card-img" src="../../../../assets/img/room1.jpg">
                    <div class="card-body">
                        <h3>Platinum Room 2</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <p>$50.0 / Night</p>
                            <app-button buttonName="View Details" buttonSize="S" buttonShade="D"></app-button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="img-fluid card-img" src="../../../../assets/img/room.jpg">
                    <div class="card-body">
                        <h3>Bronze Room 2</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <p>$50.0 / Night</p>
                            <app-button buttonName="View Details" buttonSize="S" buttonShade="D"></app-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>