<ul class="nav-menu d-lg-flex d-md-flex gap-5 justify-content-center {{isMenuScrolled?'fixed-ul':''}}">
    <li>
        <a [routerLink]="['']" [routerLinkActive]="['active-link']" [routerLinkActiveOptions]="{exact:true}">Home</a>
    </li>
    <li><a routerLink="about" [routerLinkActive]="['active-link']">About</a></li>
    <li><a routerLink="services" [routerLinkActive]="['active-link']">Services</a></li>
    <li><a routerLink="gallery" [routerLinkActive]="['active-link']">Gallery</a></li>
    <li><a routerLink="contact" [routerLinkActive]="['active-link']">Contact</a></li>
</ul>