<section class="home-about">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-8 col-sm-12 px-3 px-sm-5">
                <app-heading 
                    headingText1="Introduction" headingText2="Of Resort" subheading="Lorem Ipsum has been the industry's standard dummy text"
                    headingText3="We are available for business">
                </app-heading>
                <p> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software.</p>
                <a routerlink="about"><app-button buttonName="Read more" buttonShade="W" buttonSize="M"></app-button></a>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 p-3 p-sm-4">
                <div class="image-holder-parent"></div>
            </div>
        </div>
    </div>
</section>