<footer>
    <div class="container pb-5">
        <div class="row">
            <div class="col-md-3">
                <h2>Hill Nest</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
            </div>
            <div class="col-md-3">
                <h3>Quick Links</h3>
                <ul>
                    <li><a routerLink=""><i class="bi bi-chevron-right"></i>Home</a></li>
                    <li><a routerLink="about"><i class="bi bi-chevron-right"></i>About</a></li>
                    <li><a routerLink="menu"><i class="bi bi-chevron-right"></i>Menu</a></li>
                    <li><a routerLink="contact"><i class="bi bi-chevron-right"></i>Contact</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3>Our Address</h3>
                <ul>
                    <li>
                        <i class="bi bi-geo-alt-fill"></i> Lourdu Peter Hill Nest<br> Kotagiri<br> Nilgiris
                    </li>
                    <li><i class="bi bi-telephone-fill"></i> +91 98765 43210</li>
                    <li><i class="bi bi-envelope-heart"></i> info@hillnest.com</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3>Follow us</h3>
                <ul class="social-icons">
                    <app-social-links></app-social-links>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>Hill Nest 2023 All rights reserved | Website by Shriasys</p>
    </div>
</footer>