<section class="home-about">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-12 p-3 p-sm-4">
                <img src="../../../assets/img/hillnest.jpg" class="img-fluid">
            </div>
            <div class="col-md-8 col-lg-8 col-sm-12 px-3 px-sm-5">
                <app-heading 
                    headingText1="Our Resort" headingText2="Story" subheading="GIVE BEST SERVICE TO OUR CUSTOMERS"
                    headingText3="We are available for business">
                </app-heading>
                <p> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software.</p>
                <app-button buttonName="Contact us" buttonSize="M" buttonShade="W"></app-button>
            </div>
        </div>
    </div>
</section>
<section class="whuy-us">
    <div class="container">
        <app-heading class="d-block mb-5"
        headingText1="Why Choose Our" headingText2="Resort" 
        subheading="Duis aute irure dolor in reprehenderit in voluptate velit esse cillum" align="C">
        </app-heading>
        <div class="row">
            <div class="col-md-5">
                <div class="whuUsList">
                    <ul *ngFor="let wd of whyUsData;index as i">
                        <li><i class="bi bi-caret-right-fill"></i>{{ wd.list }}</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-7">
                <img src="../../../assets/img/garden.jpg" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<section class="video">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center">
            <div><i class="bi bi-play-circle text-center"></i></div>
            <h2 class="text-white">Virtual Tour of<br> Hill town Resort</h2>
        </div>
    </div>
</section>