<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2>Cloud Kitchen App</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium architecto delectus ipsa consequatur fugiat quas assumenda illum voluptates, quaerat impedit atque, dolore autem aliquid. Ipsum temporibus distinctio consequatur neque eveniet!</p>
            </div>
            <div class="col-md-2">
                <h3>Quick Links</h3>
                <ul>
                    <li><a routerLink=""><i class="bi bi-chevron-right"></i>Home</a></li>
                    <li><a routerLink="about"><i class="bi bi-chevron-right"></i>About</a></li>
                    <li><a routerLink="menu"><i class="bi bi-chevron-right"></i>Menu</a></li>
                    <li><a routerLink="contact"><i class="bi bi-chevron-right"></i>Contact</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h3>Our Menu</h3>
                <ul>
                    <li><a href="#"><i class="bi bi-chevron-right"></i>Tea</a></li>
                    <li><a href="#"><i class="bi bi-chevron-right"></i>Coffee</a></li>
                    <li><a href="#"><i class="bi bi-chevron-right"></i>Donut</a></li>
                    <li><a href="#"><i class="bi bi-chevron-right"></i>Waffles</a></li>
                    <li><a href="#"><i class="bi bi-chevron-right"></i>Burger</a></li>
                    <li><a href="#"><i class="bi bi-chevron-right"></i>Sandwich</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3>Our Address</h3>
                <ul>
                    <li>
                        <i class="bi bi-geo-alt-fill"></i> 40C, Kamaraj Nagar<br> Sidco(po)<br> Coimbatore - 641021<br> TamilNadu, India.
                    </li>
                    <li><i class="bi bi-telephone-fill"></i> +91 98765 43210</li>
                    <li><i class="bi bi-envelope-heart"></i> malathivenkat96@gmail.com</li>
                </ul>
            </div>
            <div class="col-md-2">
                <h3>Follow us</h3>
                <ul class="social-icons">
                    <li><a href="#"><i class="bi bi-facebook" target="_blank"></i></a></li>
                    <li><a href="#"><i class="bi bi-twitter" target="_blank"></i></a></li>
                    <li><a href="#"><i class="bi bi-instagram" target="_blank"></i></a></li>
                    <li><a href="#"><i class="bi bi-youtube" target="_blank"></i></a></li>
                    <li><a href="#"><i class="bi bi-linkedin" target="_blank"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>