<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1">
          <div class="overlay"></div>
      </div>
      <div class="hero">
        <hgroup>
            <h3>Welcome to</h3>        
            <h2>LOURDE PETER HILL NEST</h2>
        </hgroup>
      </div>
    </div>
  </div> 
</div>

<app-home-about></app-home-about>
<app-home-services></app-home-services>
<app-home-rooms></app-home-rooms>
<app-home-cta></app-home-cta>